@import url('logo.css');

body *{
    font-family: 'Ubuntu', Helvetica, sans-serif;
}

.justify-content-center{
    padding: 8px;
}

.page_title{
    background: -webkit-linear-gradient(#019444, #2581C2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#organizers img{
    width: 4rem;
    height: 4rem;

    margin: 1rem 1rem 1rem 0;
    border-radius: 1.5rem;
}

.text-justify{
  text-align: justify;
}